@page "/games"
@inject Manager Manager
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@implements IDisposable

<PageTitle>Hangman Online - Sessions</PageTitle>


<div style="min-height: 90vh">

    <MudText Typo="Typo.h5">Übersicht öffentlicher Sessions</MudText>

    <MudText Typo="Typo.caption">@Manager.CurrentSessions.Count Sessions Aktiv</MudText>

    <div style="position: absolute; bottom: 30px; right: 30px">
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="ShowSesseionDialog" />
    </div>

    <MudStack Spacing="3">
        @foreach (var session in Manager.CurrentSessions)
        {
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h6">Hangman Session</MudText>
                    <MudText Typo="Typo.subtitle1">Host: @session.Host.PlayerName</MudText>
                    <MudText Typo="Typo.subtitle2">@session.PlayersCount Spieler sind in dieser Session</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton OnClick="() => JoinPublicSession(session)" Variant="Variant.Text" Color="Color.Primary">Session Beitreten</MudButton>
                </MudCardActions>
            </MudCard>
        }
    </MudStack>

    <MudDialog @bind-IsVisible="NicknameDialogVisible">
        <DialogContent>
            <MudTextField  Placeholder="Wähle deinen Namen..." @bind-Value="@Spielername" />
            <MudTextField Placeholder="Wähle ein Wort, was erraten werden soll" @bind-Value="@WordToGuess" />
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="() => NicknameDialogVisible = false">Abbrechen</MudButton>
            <MudButton Color="Color.Primary" OnClick="NewSession">Neue Session erstellen</MudButton>
        </DialogActions>
    </MudDialog>

</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Manager.SessionCreated += GameManager_SessionCreated;
        Manager.SessionRemoved += GameManager_SessionRemoved;
    }

    private void GameManager_SessionRemoved(Guid obj)
    {
        InvokeAsync(StateHasChanged);
    }

    private void GameManager_SessionCreated(Session obj)
    {
        InvokeAsync(StateHasChanged);
        Snackbar.Add($"Session {obj.SessionCode} wurde erstellt", Severity.Success);
    }

    public void Dispose()
    {
        Manager.SessionCreated -= GameManager_SessionCreated;
        Manager.SessionRemoved -= GameManager_SessionRemoved;
    }

    private void AddSession()
    {
        Manager.CreateSession("Parkplatz", "Jan");
    }

    private void JoinPublicSession(Session session)
    {
        NavigationManager.NavigateTo($"/session/{session.SessionGuid}");
    }

    private void ShowSesseionDialog()
    {
        WordToGuess = "";
        Spielername = "";
        NicknameDialogVisible = true;
    }

    private void NewSession()
    {
        if (string.IsNullOrWhiteSpace(Spielername))
        {
            Snackbar.Add("Bitte gib einen Namen ein!", Severity.Error);
            return;
        }

        if (string.IsNullOrWhiteSpace(WordToGuess))
        {
            Snackbar.Add("Bitte gib ein Wort ein!", Severity.Error);
            return;
        }

        var session = Manager.CreateSession(WordToGuess, Spielername);
        var host = session.Host;
        NavigationManager.NavigateTo($"/session/{session.SessionGuid}/{host.PlayerId}");
    }

    public string? Spielername { get; set; }
    public bool NicknameDialogVisible { get; set; }

    public string? WordToGuess { get; set; }

}
